*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --body-bg: #e1eff5;
    --shadow-color: #00000083;
    --txt-color: #000;
    --inverted-txt: #fff;
    --btn-bg: #00586d;
}
@media (prefers-color-scheme: dark){
    :root{
        --body-bg: #0a1527;
        --shadow-color: #ffffff65;
        --txt-color: #fff;
        --inverted-txt: #000;
        --btn-bg: #94dcee;
    }
}
body {
    background: var(--body-bg);
    position: relative;
}
.container{
    position: relative;
    display: flex;
    gap: 30px;
    padding: 50px 30px;
    margin: 40px auto;
    width: 100%;
    max-width: 450px;
    height: 100%;
    min-height: 200px;
    max-height: 450px;
    box-shadow:  0px 5px 25px 10px var(--shadow-color);
    border-radius: 10px;
    color: var(--txt-color);
}
img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    object-fit: contain;
    max-height: 450px;
    max-width: 340px;
}
#image_input{
    position: absolute;
    border-radius: 30px;
    background: var(--body-bg);
    outline: 5px solid var(--inverted-txt);
    box-shadow: 0px 2px 12px 5px var(--shadow-color);
    padding: 0;
    color: var(--txt-color);
    font-size: 1.1em;
    top: -15px;
    left: 50%;
    translate: -50%;
}
#image_input::-webkit-file-upload-button{
    border-radius: 30px;
    border: none;
    outline: none;
    background: var(--btn-bg);
    padding: 7px;
    color: var(--inverted-txt);
    cursor: pointer;
}
.color{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate( -50%);
    font-weight: 700;
    text-align: center;
    z-index: -1;
}
footer{
    position: fixed;
    width: 100%;
    padding: 15px 23px;
    background: #0096bb;
    text-align: center;
    color: #fff;
    bottom: 0;
}
footer a{
    color: #afd5df;
    text-decoration: none;
}
footer a:hover{
    color: #01191f;
    text-decoration: underline;
}
